/* General styles */
.pageContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.heroContainer {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url('/images/inside.jpg');
  background-size: cover;
  background-position: center;
}

.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Optional overlay for better text contrast */
}

.mainHeading {
  font-size: 2.5rem;
  color: var(--dark-gray);
  text-align: center;
  margin: 20px 0;
  padding: 0;
  font-weight: bold;
}

.serviceButtons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2.5rem 0;
  padding: 0 1rem;
}

.serviceButton {
  background-color: var(--primary-green);
  color: var(--white);
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: 200px;
  max-width: 100%;
}

.serviceButton:hover {
  background-color: var(--dark-green);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
}

.active {
  border: 3px solid var(--dark-green);
}

.serviceIcon {
  font-size: 1.5rem;
}

.serviceDetails {
  background-color: var(--white);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 12px;
  max-width: 960px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-size: 1rem;
}

.serviceDetails h2 {
  font-size: 2rem;
  color: var(--dark-gray);
  margin-bottom: 1rem;
}

.serviceDetails p {
  font-size: 1.1rem;
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

.featureList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.featureList li {
  font-size: 1.1rem;
  color: var(--dark-gray);
  margin-bottom: 0.75rem;
  position: relative;
  padding-left: 1.5rem;
}

.featureList li:before {
  content: '✓';
  color: var(--primary-green);
  position: absolute;
  left: 0;
  font-size: 1.2rem;
  top: 0;
}

.cta {
  margin-top: 3rem;
  text-align: center;
}

.cta h2 {
  font-size: 1.75rem;
  color: var(--dark-gray);
  margin-bottom: 1rem;
}

.ctaButton {
  background-color: var(--primary-green);
  color: var(--white);
  padding: 1rem 2rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.ctaButton:hover {
  background-color: var(--dark-green);
  transform: translateY(-3px);
}

.ctaButton:active {
  transform: translateY(1px);
}

/* Media Queries for larger screens */
@media (min-width: 768px) {
  .mainHeading {
    font-size: 2.5rem;
    padding: 1.5rem;
  }

  .serviceDetails {
    padding: 3rem;
  }

  .serviceDetails h2 {
    font-size: 2.5rem;
  }

  .serviceDetails p {
    font-size: 1.2rem;
  }

  .cta h2 {
    font-size: 2rem;
  }

  .ctaButton {
    padding: 1.2rem 2.5rem;
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  .heroContainer {
    height: 70vh;
  }

  .serviceButtons {
    gap: 2rem;
  }

  .serviceButton {
    padding: 1.5rem 2.5rem;
    font-size: 1.2rem;
  }

  .serviceIcon {
    font-size: 2rem;
  }

  .cta h2 {
    font-size: 2.25rem;
  }

  .ctaButton {
    padding: 1.5rem 3rem;
    font-size: 1.4rem;
  }
}